{% extends 'base.html.twig' %}

{% block title %}
    Lieu | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>todo: nom du lieu</h2>

{#  todo: afficher toutes les infos du lieu  #}

{% endblock %}

