<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Les archers de Liffré</h1>
    <h2>Evènements à venir</h2>
    <table>
        <tr>A</tr>
        <tr>A</tr>

        <td>b</td>
        <td>b</td>
    </table>

    {% set article = {
        titre: "Campagne hivers 2020",
        photo: "photo1.jpg",
        desc: "abla bla bla"
    } %}

    <h2>{{ article.titre }}</h2>

    {% for key, val in article %}
        <div>{{ key }} : {{ val }} </div>
    {% endfor %}
</body>
</html>