{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block body %}
    <h2>Evènements à venir</h2>
    <table>
        <tr>A</tr>
        <tr>A</tr>

        <td>b</td>
        <td>b</td>
    </table>

    {% set article = {
        titre: "Campagne hivers 2020",
        photo: "photo1.jpg",
        desc: "abla bla bla"
    } %}

    <h2>{{ article.titre | upper }}</h2>

    {% for key, val in article %}
        <div>{{ key }} : {{ val }} </div>
    {% endfor %}

{% endblock %}

