/*_________BALISES_________*/
h1 {
    margin: 1rem;
    text-align: center;
}

h2 {
    margin: 1rem;
    text-align: center;
}

h3 {
    margin: 1rem;
}

h4 {
    margin: 1rem;
}

legend {
    margin-top: 2rem;
}

/*_________CLASSES_________*/
/*____Tableau listing armes____*/
.my-custom-scrollbar-arme {
    position:relative;
    width: 300px;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y-arme {
    display: block;
}

/*____Tableau listing lieux____*/
.my-custom-scrollbar-lieu {
    position:relative;
    width: 1000px;
    height: 400px;
    overflow: auto;
}
.table-wrapper-scroll-y-lieu {
    display: block;
}

/*____Formulaire lieux____*/
.input-nom-lieu {
    max-width: 25rem;
}

.input-rue-lieu {
    max-width: 30rem;
}

.input-cp-lieu {
    max-width: 5rem;
}

.input-ville-lieu {
    max-width: 25rem;
}

/*____Messages flash____*/

.flash{
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
}

.flash-success{
    color: green;
}

.flash-danger{
    color: red;
}