<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Les archers de Liffré {% endblock %}</title>
</head>
<body>
    <header>
        <h1>Les archers de Liffré</h1>
        {% include('inc/nav.html.twig') %}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>
        <br>
        <div>&copy; {{ "now"|date("Y") }} Thomas HUAUME</div>
    </footer>
</body>
</html>