<nav>
    <xul>
        <li><a href="{{ path('main_home')}}">Accueil</a></li>
        <li><a href="#">Membres</a></li>
        <li><a href="#">Evènements</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Lieux</a></li>
        <li><a href="#"></a></li>
    </xul>
</nav>